.landingPageContainer{
  width: 100vw;
  height: 100vh;
  background: url("/public/background.png.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.landingPageContainer nav {
  padding-inline: 1.2em;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.landingPageContainer nav h2 {
  font-weight: 500;
  font-size: 1.8rem;
}
.landingPageContainer nav .navList{
  display: flex;
  gap:30px;
  cursor: pointer;
}

.landingMainContainer{
  display: flex;
  justify-content: space-between;
  padding-inline: 2rem;
  height: 70vh;
  align-items: center;
}

.landingMainContainer > div:nth-child(1){
  font-size: 2rem;
}

.landingMainContainer > div:nth-child(1) div[role="button"]{
  background: #D97500;
  width: fit-content;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 1.8rem;
} 
.landingMainContainer > div:nth-child(1) div a{
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}

.mobilePng{
  height: 400px;
  width: 600px;
}


.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;

}
.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}



.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;

}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}